
@{
    Layout = "_AdminLayout";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<div class="layout-wrapper layout-content-navbar">

    <div class="layout-container">
        <div class="layout-page">
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">

               
                    <h1 class="title" style="text-align:center;">To-do List</h1>
                        <div class="todo-list" >
                        <div class="list-head">
                            <input type="text" class="entered-list" placeholder="ADD YOUR LIST" id="to-do">
                            <button class="add-list">ADD</button>

                        </div>
                        <div class="tasks">
                            <!-- <div class="item  id="item">
                               <p class="too" ></p>

                                 <div class="item-btn">
                                     <i class="fa-solid fa-pen-to-square " onclick="update()" ></i>
                                     <i class="fa-solid fa-xmark"></i>
                                     <i class="fa-sharp fa-solid fa-check" style="color: #000000;"></i>

                                 </div>
                            </div> -->


                        </div>
                        <button class="remove">Clear All</button>

                    </div>
            
                   

                </div>
            
            </div>
       
        </div>

      
    </div>
    <script src="https://kit.fontawesome.com/5769cd0a63.js" crossorigin="anonymous"></script>
</div>

 <script>
    let input = document.querySelector('.entered-list');
    let addbut = document.querySelector('.add-list');
    let tasks = document.querySelector('.tasks');
    let item = document.querySelector('.item');
    let btnDelete = document.querySelector('.remove');
    const par = document.getElementById("to-do");
    let arr = [];
    mood = "Add";

    input.addEventListener('keyup', () => {
        if (input.value != '') {
            addbut.classList.add('active')
        } else {
            addbut.classList.remove('active')
        }
    })
    show();

    function show() {
        tasks.innerHTML = '';
        let getlocalStorage = localStorage.getItem("neww");
        if (getlocalStorage == null) {
            arr = [];
        }
        else {
            arr = JSON.parse(getlocalStorage);
            for (i = 0; i < arr.length; i++) {
                console.log(arr[i].task)

                let newItem = document.createElement('div');
                newItem.classList.add('item');
                newItem.innerHTML = `
          <p>${arr[i].task}</p>

            <div class="item-btn">
                <i class="fa-solid fa-xmark" onclick="deleteTask(${i})"></i>
                 <i class="fa-sharp fa-solid fa-check" style="color: #000000;"></i>
                 <i class="fa-solid fa-pen-to-square" onclick="update(${i})"></i>

            </div>


          `;
                tasks.appendChild(newItem);
            }
        }




    }

    addbut.addEventListener('click', () => {

        if (mood == 'Add') {
            let userdata = {
                task: input.value,
                completed: 0
            }


            arr.push(userdata);

        }
        else if (mood == 'Edit') {
            arr[tmp].task = input.value;
            addbut.innerHTML = 'Add';
            mood == 'Add'

        }

        localStorage.setItem("neww", JSON.stringify(arr));
        input.value = '';
        show();

    })


    btnDelete.addEventListener('click', (e) => {
        localStorage.clear()
        show();

    });

    function deleteTask(i) {
        arr.splice(i, 1);
        localStorage.setItem("neww", JSON.stringify(arr));
        show();
    }

    tasks.addEventListener('click', (e) => {
        if (e.target.classList.contains('fa-check')) {
            e.target.parentElement.parentElement.classList.toggle('completed');
            //arr[i]=1;
            //arr.push(localStorage);

        }

    });

    function update(i) {

        input.value = arr[i].task;
        addbut.innerHTML = 'Edit';
        mood = 'Edit';
        tmp = i;
        scroll({
            top: 0,
            behavior: 'smooth'
        })
    }

  </script>

  <style>
    .title {
        font-size: 30px;
        font-weight: 600;
        color: rgb(0, 0, 0);
        letter-spacing: 1px;
        margin: 30px 0;
    }

    .todo-list {
        width: 450px;
        padding: 20px;
        margin:0 auto;
        box-shadow: 0 10px 40px rgb(0,0,0,0.1 );
        border-radius: 5px;
        background-color: #7695FF;
    }

    .list-head {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .entered-list {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        width: 343px;
    }

    .add-list {
        border: none;
        border-radius: 5px;
        
        cursor: pointer;
        width: 69px;
        background-color: #9DBDFF;
      /*   opacity: 0.6; */
        
    }

     .add-list.active {
            opacity: 1;
            pointer-events: all;
        }

     .add-list:hover {
            background-color: #bbcae9;
        }

    .tasks {
        width: 436px;
        margin-top: 30px;
    }

    .item {
        padding-left: 9px;
        margin-right: 16px;
        border-radius: 5px;
        box-shadow: 0 10px 30px rgb(0,0,0,0.1);
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .item p {
            font-size: 16px;
            font-weight: 500px;
            color: black;
            letter-spacing: 1px;
        }

        .item.completed p {
            text-decoration: line-through;
            color: black;
        }

    .item-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-right: 4px;
    }

        .item-btn i {
            cursor: pointer;
            font-size: 18px;
            color: black;
        }

    .remove {
        color:black;
        border: none;
        border-radius: 5px;
        background-color: #9DBDFF;
        cursor: pointer;
       /*  width: 69px; */
        opacity: 0.6;
        height: 35px;
    }

        .remove.active {
            opacity: 1;
            pointer-events: all;
        }

        .remove:hover {
            background-color: #bbcae9;
        }

        </style>

