<!-- About 5 - Bootstrap Brain Component -->
<style>
    #goaldiv:hover {
        transform: translateY(-8px);
        cursor: pointer;
        box-shadow: 1px 1px 3px 1px #696cff;
    }
    #visiondiv:hover{
        transform: translateY(-8px);
        cursor: pointer;
        box-shadow: 1px 1px 3px 1px #696cff;
    }
</style>
<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row">
            <!-- First Container: About Section -->
            <div class="col-12 col-md-6">
                <div class="container">
					<div class="row">
						
                        <div class="col-12">
                            <h1 class=" text-uppercase">About</h1>
                   <p style="font-weight:300;font-family:' Raleway', 'sans-serif';margin-top: 21px;font-size: 18px"> Welcome to Kitty Shop! I'm Wesal Alshamali, a passionate cat lover and the founder of this shop. My love for cats inspired me to create a place where fellow cat enthusiasts can find the best products for their feline friends. Whether it's toys, treats, or comfy beds, everything here is chosen with love and care, just like I would for my own cats. I hope you and your furry companions enjoy everything our store has to offer!</p>
                            <a href="/Products/Index" type="button" class="btn btn-lg btn-primary mb-3 mb-md-4 mb-xl-5" style="background-color:#696cff !important;font-size:15px;"> Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Second Container: Image Section -->
            <div class="col-12 col-md-6">
                <div class="container">
                    <img src="~/assets1/img/wesal-removebg-preview.png" class="img-fluid" alt="Wesal Image" style="border-radius:40px; margin-top: -86px;" />
                </div>
            </div>
        </div>
    </div>



    <div class="container overflow-hidden">
        <div class="row gy-4 gy-lg-0">
            <div class="col-12 col-lg-6">
                <article>
                    <div class="card border-0" id="visiondiv">
                        <img class="card-img-top img-fluid m-0" loading="lazy" src="~/assets1/img/img4.jpg" alt="Our Vision">
						<div class="card-body border bg-white p-4">
						
                            <div class="entry-header mb-3">
                                <h2 class="card-title entry-title h4 mb-0">
                                    <a class="link-dark text-decoration-none" href="#!">My Vision</a>
                                </h2>
                            </div>
                            <p class="card-text entry-summary text-secondary mb-3">My vision is to empower cat owners everywhere by offering high-quality, carefully curated products that enhance the lives of their feline friends, to create happier, healthier lives for cats and their owners by providing products that cater to every need and preference.</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-12 col-lg-6">
                <article>
                    <div class="card border-0" id="goaldiv"> 
                        <img class="card-img-top img-fluid m-0" loading="lazy" src="~/assets1/img/img5.jpg" alt="Our Approach">
                        <div class="card-body border bg-white p-4">
                            <div class="entry-header mb-3">
                                <h2 class="card-title entry-title h4 mb-0">
									<a class="link-dark text-decoration-none" href="#!">My Goal </a>
                            </div>
                            <p class="card-text entry-summary text-secondary mb-3"> My goal began with a small e-commerce business selling premium cat products, and im seeking now to expand this to  full-service cat care center. This future center will provide comprehensive services such as grooming, adoption, boarding, and veterinary care.</p>
                        </div>
                    </div>
                    

                </article>
            </div>
        </div>
    </div> 
</section>