
@model ECommerceWebsite.Models.ContactUs
@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Start Hero Section -->
<!-- Start Hero Section -->
<h1 class="text-uppercase">Contact Us!</h1>
<h2 class="display-5 mb-4 mb-md-5 mb-xl-8">Feel free to reach out to us.🐾 </h2>

<!-- End Hero Section -->
<!-- Start Contact Form -->
<div class="untree_co-section">
    <div class="container">
        <div class="block">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-8 pb-4">
                    <form id="contactForm" method="post" asp-action="ContactUs" style="font-size:20px;">
                        <div class="form-group">
                            <label asp-for="Name" class="text-black" for="fname">Full Name</label>
                            <input asp-for="Name" type="text" class="form-control" id="fname">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email" class="text-black" for="email">Email</label>
                            <input asp-for="Email" type="email" class="form-control" id="email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-5">
                            <label asp-for="Message" class="text-black" for="message">Message</label>
                            <textarea asp-for="Message" class="form-control" id="message" cols="30" rows="5"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>

                        <button type="button" class="btn btn-primary-hover-outline" style="background-color:#696cff;color:black;align-items:center;" onclick="submitForm()">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function submitForm() {
        Swal.fire({
            title: 'Are you sure?',
            text: "Do you want to send this message?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#696cff',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, send it!'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('contactForm').submit(); // Submit the form
            }
        });
    }
</script>