<style>
    .srv:hover {
        transform: translateY(-8px);
        cursor: pointer;
        box-shadow: 1px 1px 3px 1px #696cff;

    }
</style>

<h1 class="text-uppercase">Services</h1>
<h2 class="display-5 mb-4 mb-md-5 mb-xl-8">Exciting New Services Coming Soon.</h2>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3 srv" style="max-width: 540px;" >
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/assets1/img/serv2.jpg" class="img-fluid rounded-start" style="height: 100%; width: 100%; object-fit: cover;" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Cat Grooming Services</h5>
                            <p class="card-text">Give your cat the ultimate grooming experience with professional care that leaves them looking and feeling their best.</p>
                            <p class="card-text"><small class="text-body-secondary">SOON</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card mb-3 srv" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/assets1/img/pexels-gustavo-fring-6816857.jpg" class="img-fluid rounded-start" style="height: 100%; width: 100%; object-fit: cover;" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Cat Veterinary Services</h5>
                            <p class="card-text">Ensure your cat's health with our expert veterinary services, providing top-notch care for your furry friend.</p>
                            <p class="card-text"><small class="text-body-secondary">SOON</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3 srv" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/assets1/img/pexels-tubadinn-26339925.jpg" class="img-fluid rounded-start" style="height: 100%; width: 100%; object-fit: cover;" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Cat Adoption Services</h5>
                            <p class="card-text">
                                Explore our cat adoption services to find the perfect feline companion, carefully matched to your lifestyle and home.
                            </p>
                            <p class="card-text"><small class="text-body-secondary">SOON</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3 srv " style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/assets1/img/img5.jpg" class="img-fluid rounded-start" style="height: 100%; width: 100%; object-fit: cover;" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Cat Boarding Services</h5>
                            <p class="card-text">Trust our cat boarding services for a safe, comfortable, and caring environment while you're away.</p>
                            <p class="card-text"><small class="text-body-secondary">SOON</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
